.header {
     display: grid;
     grid-column:  full-start / full-end;

     background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0, .7)), url(../images/background-img.jpg);
     background-size: cover;
     background-position: center;
     height: 95vh;
     position: relative;
     margin-bottom: 10rem;

     &__nav {
          display: flex;
          justify-content: space-between;
          align-items: center;

          background-color: #fff;
          padding: 0 5rem;
          height: 6rem;

          &--logo {
               width: 5rem;
               height: 5rem;
          }

          &--img {
               width: 100%;
               height: 100%
          }

          &--items {     
               width: 50rem;
               
               display: flex;
               justify-content: space-between;
               align-items: center;
          }

          &--list {
               font-size: 1.6rem;
               list-style: none;
          }

          & a {
               text-decoration: none;
               color: $font-color;
               text-transform: capitalize;
          }
     }

     &__heading {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.5rem;
          font-weight: 300;
          max-width: 100rem;
          text-align: center;

          &--main {
               color: $primary-color;
               text-transform: capitalize;
               margin-bottom: 3rem;
     
          }
     }
}

.paypal {
     text-decoration: none;
     text-transform: capitalize;
     color: $font-color;
     padding: 1rem 4rem;
     background-color: #F5C439;
     border-radius: 2rem;

}